.Rproj.user
.Rhistory
.RData
.Ruserdata
pkgdown
.DS_Store
.Rbuildignore
graphfile
out
parfile
popfilename
badsnps
fstats.out
fstats.out.bak
fstats.out2
fstats.out_inb
leftlist
out.bak
out2
out_inb
rightlist
admixtools.Rproj
popfilename2
graphfile2
graphfile3
